<h2>{{student.first_name}}'s Classes</h2><hr>


{{#each student.classes}}
<h2>{{ class_title }}</h2>
<a href="/classes/{{class_id}}/details">Details</a><hr>
{{/each}}
<a href="/classes/enroll">Enroll in a Class</a>
{{#each classes}}
<h2>{{ title }}</h2>
<h2>{{ description }}</h2>
<h2><strong>Instructor: </strong>{{ instructor }}</h2>
<a href="/classes/{{_id}}/details">Details</a><hr>
{{/each}}