<h1>Edit {{student.first_name}} {{student.last_name}}'s Details</h1>
<br>

<form action="/students/edit/{{student._id}}" method="post">
    <div>
        <label for="">First Nane:</label><br>
        <input type="text" name="first_name" class="form" id="first_name" value="{{student.first_name}}">
    </div>
    <div>
        <label for="last_name">Last Name:</label><br>
        <input type="text" name="last_name" class="form" id="last_name" value="{{student.last_name}}">
    </div>
     <div>
        <label for="address">Address:</label><br>
        {{#each student.address}}
        <textarea type="text" name="street_name" class="form" id="street_name">{{ street_name }}</textarea><br>
        <input type="text" name="city" class="form" id="city" value="{{city}}">
        <input type="text" name="state" class="form" id="state" value="{{state}}">
        {{/each}}
    </div>
    <div>
        <label for="category">Category:</label>
        <select name="category" class="form" id="category">
            <option>Beginner</option>
            <option>Intermeediate</option>
            <option>Advanced</option>
        </select>
    </div><br>
    <div>
        <label for="phone_number">Phone number:</label><br>
        <input type="text" name="phone_number" class="form" id="phone_number" value="{{student.phone_number}}">
    </div>
    <div>
        <label for="email">Email:</label><br>
        <input type="text" name="email" class="form" id="email" value="{{student.email}}">
    </div>
    <div>
        <button type="submit" name="submit" class="button1">Submit</button>
    </div>
    
</form>